apiVersion: platform.stackrox.io/v1alpha1
kind: Central
metadata:
  namespace: stackrox
  name: stackrox-central-services
spec:
  central:
    adminPasswordSecret:
      name: acs-password
    db:
      isEnabled: Default
      persistence:
        persistentVolumeClaim:
          claimName: central-db
          size: 10Gi
      resources:
        requests:
          cpu: 100m
          memory: 50Mi
    exposure:
      loadBalancer:
        enabled: false
        port: 443
      nodePort:
        enabled: false
      route:
        enabled: true
    persistence:
      persistentVolumeClaim:
        claimName: stackrox-db
        size: 10Gi
    resources:
      requests:
        cpu: 50m
  egress:
    connectivityPolicy: Online
  scanner:
    analyzer:
      resources:
        limits: {}
        requests:
          cpu: 50m
      scaling:
        autoScaling: Enabled
        maxReplicas: 3
        minReplicas: 1
        replicas: 1
    db:
      resources:
        limits: {}
        requests:
          cpu: 50m
    scannerComponent: Enabled
