apiVersion: platform.stackrox.io/v1alpha1
kind: SecuredCluster
metadata:
  namespace: stackrox
  name: stackrox-secured-cluster-services
spec:
  admissionControl:
    bypass: BreakGlassAnnotation
    contactImageScanners: DoNotScanInline
    listenOnCreates: true
    listenOnEvents: true
    listenOnUpdates: true
    resources:
      requests:
        cpu: 50m
        memory: 100Mi
    timeoutSeconds: 20
  auditLogs:
    collection: Auto
  clusterName: development
  perNode:
    collector:
      collection: EBPF
      imageFlavor: Regular
      resources:
        requests:
          cpu: 50m
          memory: 100Mi
    compliance:
      resources:
        requests:
          cpu: 50m
          memory: 100Mi
    taintToleration: TolerateTaints
  scanner:
    analyzer:
      resources:
        requests:
          cpu: 50m
          memory: 100Mi
      scaling:
        autoScaling: Enabled
        maxReplicas: 5
        minReplicas: 2
        replicas: 3
    scannerComponent: AutoSense
  sensor:
    resources:
      requests:
        cpu: 50m
        memory: 100Mi

